<dl>
    <dt>_id:</dt>
    <dd>{{id}}</dd>
    <dt>Username:</dt>
    <dd>{{username}}</dd>
    <dt>First Name:</dt>
    <dd>{{firstName}}</dd>
    <dt>Last Name:</dt>
    <dd>{{lastName}}</dd>
    <dt>Profession:</dt>
    <dd>{{profession}}</dd>
    <dt>Bio:</dt>
    <dd>{{bio}}</dd>
</dl> 

<a href="/logout">Log out</a>